

<h1>My Itineraries</h1>
<hr/>
<% if @itineraries.length > 0 %>
<% @itineraries.each do |itinerary|%>
<<<<<<< HEAD
    <h3><%= link_to itinerary.name, user_itinerary_path(itinerary.user, itinerary)%><br></h3>
<% end %>
<% else %>
<b style="color: yellow">You don't have any itineraries!</b>
<% end %>
<hr/>
=======
    <li><%= link_to itinerary.name, user_itinerary_path(itinerary.user, itinerary)%></li>
    <% end %>
    <% else %>
    <b>You don't have any itineraries!</b>
    <% end %>
<hr/>
<%= link_to "Search Destination", destinations_path %>
</br>
<%= link_to "Create New Itinerary", new_itinerary_path %>
</br>
<%= link_to "Archived Itineraries", archived_user_itineraries_path(session[:id]), method: :get %>
</br></br>
<%= button_to "Back to Homepage", user_path(session[:id]), method: :get %>
>>>>>>> abbed72cde292b80e9f8786bea7690366f63a3c9
