<h1><%= @itinerary.name %></h1>
<hr/>

<p><% @itinerary.entries.each do |entry|%>
  <ul>
    <li type="square", style="font-style: italic"><%= entry.event.name%> in <%= link_to entry.event.destination.name, destination_path(entry.event.destination)%> on <%= entry.date%></li>
  </ul>
<% end %>
</br>
<%= button_to "Add Event", new_entry_path, method: :get %>
<hr/>
