<h1><%= @itinerary.name %></h1>
<hr/>

<% @itinerary.destinations.uniq.each do |d|%>
  <%= d.name%>
  <% @itinerary.entries.order(:date).each do |entry|%>
    <% if Event.find(entry.event_id).destination_id == d.id%>
    <li type="square", style="font-style: italic"><%= entry.event.name%> on <%= entry.date.strftime("%A %B %d, %Y")%></li>
    <%end%>
  <%end%>
<%end%>
</br>
<%= button_to "Add Destinations", destinations_path, method: :get %>
<hr/>


