<h1><%= @itinerary.name %></h1>
<hr/>

<% entries = @itinerary.entries.order(:date)%>
<% destinations = []%>
<% entries.each { |entry| destinations << entry.event.destination} %>
<% destinations.uniq.each do |d|%>
  <%= d.name%>
  <% @itinerary.entries.order(:date).each do |entry|%>
    <% if Event.find(entry.event_id).destination_id == d.id%>
      <% if entry.visited == false%>
        <li type="square", style="font-style: italic"><%= entry.event.name%> on <%= entry.date.strftime("%A %B %d, %Y")%></li>
      <%= form_for entry do |f| %> 
      <%= f.submit "Visited"%>
      <% end %>
      <%else%> 
         <li type="square", style="font-style: italic"><del><%= entry.event.name%> on <%= entry.date.strftime("%A %B %d, %Y")%></li>
      <%end%>
    <%end%>
  <%end%>
<%end%>
</br>
<%= button_to "Add Destinations", destinations_path, method: :get %>
<hr/>



