

<h1><%= @user.name%></h1>
<hr/>
<%= link_to "Destinations", destinations_path %>
</br>
<%= link_to "My Favorites", favorites_path %>
</br>
<%= link_to "My Itineraries", user_itineraries_path(@user) %>
</br>
<%= link_to "My Reviews", user_reviews_path(@user) %>
<hr/>
<%= button_to "Logout", logout_path, method: :delete %>