<h1>Destinations</h1>

<hr/>
<%= form_tag("/destinations", method: "get") do %>
  <%= label_tag "Country"%>
  <%= select_tag "country", options_for_select(@countries), include_blank: true %>   
  <%= label_tag "State"%>
  <%= select_tag "state", options_for_select(@states), include_blank: true %>    
  <%= label_tag "City"%> 
  <%= select_tag "city", options_for_select(@cities), include_blank: true %>    
  <%= submit_tag "Filter" %>
  <% end %>
</br>
<%= form_tag("/destinations", method: "get") do %>
    <%= label_tag "Most Popular"%>
    <%= select_tag "popularity", options_for_select(["Popularity", "Rating"]), include_blank: true %>     
    <%= label_tag "Limit" %>
    <%= select_tag "limit", options_for_select([1, 10, 25, 50]), include_blank: true %>     
    <%= submit_tag "Filter" %>
    <% end %>
 

<% @destinations.each do | destination |%>
<%= link_to destination.name, destination %><br>
<% end %>

<hr/>
<%= link_to "Top 10 Popular Destination", most_popular_path%>

