<h1><%= @destination.name %></h1> 
<hr/>
<% if !User.find(session[:id]).favorites.any? {|favorite| favorite.destination == @destination }%>
<%= form_for @favorite do |f| %>
    <%= f.hidden_field :user_id, value: session[:id]%>
    <%= f.hidden_field :destination_id, value: @destination.id%>
    <%= f.submit "Add to Favorites"%>
<% end %>
<% end %>
<li><%= @destination.city %>, <%= @destination.state %></li>
<li><%= @destination.country %></li>
<%= image_tag(@destination.picture_link, size: "300x300") %>

<h3> All events</h3>

<% @destination.events.each do |event|%>
  <li><%= link_to event.name, destination_event_path(@destination,event)%> - Price: <%= event.price%></li>
  <% if User.find(session[:id]).itineraries.length > 0%>
  <%= form_for @entry do |f|%>
  <%= f.hidden_field :event_id, value: event.id%>
  <%= f.collection_select :itinerary_id, @itineraries, :id, :name %>
  <%= f.date_field :date %>
  <%= f.submit "Add to Itinerary"%></br>
  <%= form_for @itinerary do |f|%>
    <%= f.label "New Itinerary Name" %>
    <%= f.text_field :name %>
    <%= f.hidden_field :user_id, value: session[:id]%>
    <%= f.fields_for :entries do |f| %>
        <%= f.hidden_field :event_id, value: event.id%>
        <%= f.label :date %>
        <%= f.date_field :date %>
    <% end %>
    <%= f.submit "Add to New Itinerary" %>
    <% end %>
  <%end%>
  <%else%>
  <%= form_for @itinerary do |f|%>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.hidden_field :user_id, value: session[:id]%></br>
    <%= f.label :entry %>
    <%= f.fields_for :entries do |f| %>
        <%= f.hidden_field :event_id, value: event.id%></br>
        <%= f.label :date %></br>
        <%= f.date_field :date %>
    <% end %>
    <%= f.submit "Create New Itinerary" %>
    <% end %>
  <% end %>
<%end%>
<hr/>
<% if flash[:errors] %>
    <% flash[:errors].each do |error|%>
        <li style="color: red"><%= error%></li>
    <%end%>
<% end %>
<h3>Write a Review:</h3>
<%= form_for @review do |f|%>
<%= f.label :rating %>
<%= f.number_field :rating %>
</br>
<%= f.label :content %>
<%= f.text_area :content %>
</br>
<%= f.hidden_field :user_id, value: session[:id] %>
<%= f.hidden_field :destination_id, value: @destination.id %>
<%= f.submit %>
<%end%>
</br>
<h3>All Reviews</h3>
<% @destination.reviews.order('id DESC').each do | review | %>
    <%= review.user.name %>
    <li>Rating: <%= review.rating %></li>
    <li><%= review.content %></li>
<% end %>
