<h1><%= @destination.name %></h1>
<hr/>
<li><%= @destination.city %></li>
<li><%= @destination.state %></li>
<li><%= @destination.country %></li>
<li><%= image_tag(@destination.picture_link, size: "300x300") %></li>