<h1>My Reviews</h1>
<hr/>
<% if @reviews.length > 0 %>
<% @reviews.each do |review|%>
    <b><%= review.destination.name %></b>
    <ul>
        <li><%= review.destination.city.name %>, <%= review.destination.state.name %></br>
        <%= review.destination.country.name %></li>
        <li>Rating: <%= review.rating %></br></li>
        <li><%= review.content %></br></li>
    </ul>
    <%= button_to "Edit Review", edit_user_review_path(review.user, review), method: :get %>
<% end %>
<% else %>
<b>You don't have any reviews yet!</b>
<% end %>
<hr/>
<%= button_to "Back to Homepage", user_path(session[:id]), method: :get %>